<body>

  <!-- social icons ---------------->

  <style>
    .jumbotron {
      background: #000;
      width: 100%;
      height: cover;
      vertical-align: middle;
      color: #fff;
      padding: 20px;
    }

    .we-are-on {
      margin-left: 20px;
    }
  </style>

  <div class="jumbotron" style="float: right;display: inline-block;background: #000;">
    <div class="we-are-on">
      <span style="vertical-align: middle;">We are on: </span>
    </div>
    <a href="https://facebook.com" style="padding: 20px;">
      <img src="{{ site.url }}/images/facebook.png" Alt="Facebook"><i class="fa fa-facebook-square" Alt="facebook"> </i>
    </a>
    <a href="https://twitter.com" style="padding: 20px;">
      <img src="{{ site.url }}/images/twitter.png" Alt="Twitter"><span class="fa fa-twitter-square" Alt="twitter"> </span>
    </a>
    <a href="https://youtube.com" style="padding: 20px;" >
      <img src="{{ site.url }}/images/youtube.png" Alt="Youtube"><span class="fa fa-youtube-square" Alt="youtube"> </span>
    </a>
    <a href="https://github.com" style="padding: 20px;">
      <img src="{{ site.url }}/images/github.png" Alt="Github"><span class="fa fa-github-square" Alt="youtube"> </span>
    </a>

  </div>

  <!-- end social icons ------------>

</body>
