<body>

  <!-- social icons ---------------->

  <div class="banner" style="float: right;display: inline-block;background: #000;">
    <span style="vertical-align: center;">We are on: </span>
    <a href="https://facebook.com">
      <img src="{{ site.url }}/images/facebook.png" Alt="Facebook"><span class="fa fa-facebook-square" Alt="facebook"> </span>
    </a>
    <a href="https://twitter.com">
      <img src="{{ site.url }}/images/twitter.png" Alt="Twitter"><span class="fa fa-twitter-square" Alt="twitter"> </span>
    </a>
    <a href="https://youtube.com">
      <img src="{{ site.url }}/images/youtube.png" Alt="Youtube"><span class="fa fa-youtube-square" Alt="youtube"> </span>
    </a>
    <a href="https://github.com">
      <img src="{{ site.url }}/images/github.png" Alt="Github"><span class="fa fa-github-square" Alt="youtube"> </span>
    </a>

  </div>

  <!-- end social icons ------------>

</body>
